---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";

import MarkdownBlock from "../components/MarkdownBlock.astro";
import LetterItemMinimal from "../components/LetterItemMinimal.astro";
import NoteItemMinimal from "../components/NoteItemMinimal.astro";
import LinkGraph from "../components/LinkGraph.astro";

import { getCollection } from "astro:content";
import { Content } from "./home.md";

const letters = (await getCollection("letters")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const notes = (await getCollection("notes")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} emoji="ðŸ ">
  <div
    class="w-full h-64 bg-cover rounded-md mb-4"
    style={`background-image: url(/main-art.jpeg)`}
  >
  </div>
  <h1 class="text-5xl lg:text-6xl font-bold">Home</h1>
  <h2 class="text-md lg:text-lg font-bold mt-4 text-text-color/80">
    WaRNiNG: this website, like my life, is a work-in-progress.
  </h2>

  <MarkdownBlock>
    <Content />
    <hr />
  </MarkdownBlock>

  <h3 class="text-3xl font-bold mt-12">Recent Letters</h3>

  <ul class="flex flex-col gap-4 my-6">
    {
      letters.slice(0, 3).map((letter) => (
        <li>
          <LetterItemMinimal slug={letter.slug} letter={letter} />
        </li>
      ))
    }
  </ul>

  <a href="/letters" class="font-bold text-md"
    >{`See ${letters.length} more â†’`}</a
  >

  <MarkdownBlock>
    <hr />
  </MarkdownBlock>

  <h3 class="text-3xl font-bold mt-12">Recent Notes</h3>

  <LinkGraph rootPath="notes/top-of-mind/" />
</BaseLayout>
