---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import NavLink from "../components/NavLink.astro";
import YearFilter from "../components/YearFilter.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { getCollection } from "astro:content";

const { title, description, emoji, image } = Astro.props;

// Fetch all notes
const allNotes = await getCollection("notes");

// Get the three most recent notes
const recentNotes = allNotes
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5);

// Extract years and count posts for each year
const yearCounts = allNotes.reduce((acc, note) => {
  const year = new Date(note.data.pubDate).getFullYear();
  acc[year] = (acc[year] || 0) + 1;
  return acc;
}, {} as Record<number, number>);

// Create an array of year-count pairs, sorted by year descending
const yearsWithCounts = Object.entries(yearCounts)
  .map(([year, count]) => ({ year: parseInt(year), count }))
  .sort((a, b) => b.year - a.year);
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={title}
      description={description}
      emoji={emoji}
      image={image ?? "/pfp-min.png"}
    />
  </head>

  <body
    id="top"
    class="flex flex-col min-h-screen p-4 lg:px-12 lg:pt-12 lg:pb-4 max-w-7xl mx-auto lining-nums"
  >
    <div class="flex flex-col lg:flex-row flex-grow">
      <!-- NAV BAR -->
      <nav class="w-full max-w-2xl mx-auto lg:w-80 lg:sticky top-0 h-fit py-4 lg:mr-16">
        <h1 class="text-4xl lg:text-5xl font-bold rainbow-button font-writing">
          <a href="/">{SITE_TITLE}</a>
        </h1>

        <p class="mt-2 text-sm italic">
          {SITE_DESCRIPTION}
        </p>

        <span class="text-2xl flex gap-3 mt-4">
          <a href="https://twitter.com/solderneer"
            ><i class="fa-brands fa-twitter rainbow-button"></i></a
          >
          <a href="https://www.linkedin.com/in/solderneer/"
            ><i class="fa-brands fa-linkedin rainbow-button"></i></a
          >
          <a href="https://github.com/solderneer"
            ><i class="fa-brands fa-github rainbow-button"></i></a
          >
          <a href="/rss.xml"><i class="fa-solid fa-rss rainbow-button"></i></a>
        </span>

        <div class="flex flex-col mt-4 mb-4">
          <NavLink href="/" emoji="ðŸ ">Home</NavLink>
          <NavLink href="/notes/about" emoji="ðŸ˜Ž">About Me</NavLink>
        </div>

        <hr class="lg:block hidden" />
        <!-- Recent Notes Section -->
        <div class="mt-4 mb-4 lg:block hidden">
          <h3 class="text-lg font-bold mb-2">Recent Notes</h3>
          <ul class="space-y-2 rainbow-link">
            {
              recentNotes.map((note) => (
                <li class="flex items-center text-sm">
                  <a
                    href={`/notes/${note.slug}/`}
                    class="flex-grow-0 truncate mr-2"
                    title={note.data.title}
                  >
                    {note.data.emoji} {note.data.title}
                  </a>
                  <div class="flex-shrink-0 font-bold secondary-color">
                    <FormattedDate date={note.data.pubDate} />
                  </div>
                </li>
              ))
            }
          </ul>
        </div>

        <hr class="lg:block hidden" />

        <div class="mt-4 mb-4 lg:block hidden">
          <h3 class="text-lg font-bold mb-2">Archives</h3>
          <YearFilter yearsWithCounts={yearsWithCounts} />
        </div>
      </nav>
      <!-- END NAV BAR -->
      
      <main class="max-w-3xl flex-grow mx-auto"><slot /></main>

      <hr class="block lg:hidden" />
      <!-- Recent Notes Section -->
      <div class="mt-4 mb-4 block lg:hidden">
        <h3 class="text-lg font-bold mb-2">Recent Notes</h3>
        <ul class="space-y-2 rainbow-link">
          {
            recentNotes.map((note) => (
              <li class="flex items-center text-sm">
                <a
                  href={`/notes/${note.slug}/`}
                  class="flex-grow-0 truncate mr-2"
                  title={note.data.title}
                >
                  {note.data.emoji} {note.data.title}
                </a>
                <div class="flex-shrink-0 font-bold secondary-color">
                  <FormattedDate date={note.data.pubDate} />
                </div>
              </li>
            ))
          }
        </ul>
      </div>

      <hr class="sm:block lg:hidden" />

      <div class="mt-4 mb-4 sm:block lg:hidden">
        <h3 class="text-lg font-bold mb-2">Archives</h3>
        <YearFilter yearsWithCounts={yearsWithCounts} />
      </div>
    </div>
    <footer class="text-xs text-beige-700 mt-8 text-center w-full">
      Copyright Â© 2024 Sudharshan Sundaramahalingam
    </footer>
  </body>
</html>
