---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import NavLink from "../components/NavLink.astro";

const { title, description, emoji, image } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={title}
      description={description}
      emoji={emoji}
      image={image ?? "/main-art.jpeg"}
    />
  </head>

  <body
    id="top"
    class="flex flex-col lg:flex-row p-4 lg:p-12 max-w-7xl mx-auto lining-nums"
  >
    <!-- NAV BAR -->
    <nav class="w-full lg:w-80 lg:sticky top-0 h-fit py-4 lg:mr-16">
      <h1 class="text-4xl lg:text-5xl font-bold rainbow-button font-writing">
        <a href="/">{SITE_TITLE}</a>
      </h1>

      <p class="mt-2 text-sm italic">
        {SITE_DESCRIPTION}
      </p>

      <span class="text-2xl flex gap-3 mt-4">
        <a href="https://twitter.com/solderneer"
          ><i class="fa-brands fa-twitter rainbow-button"></i></a
        >
        <a href="https://www.linkedin.com/in/solderneer/"
          ><i class="fa-brands fa-linkedin rainbow-button"></i></a
        >
        <a href="https://github.com/solderneer"
          ><i class="fa-brands fa-github rainbow-button"></i></a
        >
        <a href="/rss.xml"><i class="fa-solid fa-rss rainbow-button"></i></a>
      </span>

      <div class="flex flex-col mt-4">
        <NavLink href="/" emoji="ðŸ ">Home</NavLink>
        <NavLink href="/letters/about" emoji="ðŸ˜Ž">About Me</NavLink>
        <NavLink href="/letters" emoji="ðŸ“">Letters</NavLink>
        <NavLink
          href="https://solderneer.notion.site/7f580c6801a1407a849d2dd01752c815?v=fb709826213142b7b9bd8f2e7d91b02c"
          emoji="ðŸ“š"
        >
          Library
        </NavLink>
      </div>
    </nav>
    <!-- END NAV BAR -->
    <main class="max-w-3xl"><slot /></main>
  </body>
</html>
