---
import FormattedDate from "./FormattedDate.astro";
import Tag from "./Tag.astro";
const { slug, emoji, title, wordCount, pubDate, tags } = Astro.props;
---

<a
  class="flex flex-col max-w-xl hover:bg-neutral-100 p-2 rounded-md"
  href={`/blog/${slug}/`}
>
  <h1>
    <span class="text-xl">{emoji}</span>
    &nbsp;
    <span class="text-lg font-bold">{title}</span>
  </h1>
  <span class="mt-1 text-neutral-600">
    {wordCount} words on <FormattedDate date={pubDate} />
  </span>
  <ul class="flex gap-2 mt-2">
    {
      tags.map((tag: String) => (
        <li>
          <Tag name={`#${tag}`} />
        </li>
      ))
    }
  </ul>
</a>
