---
import FormattedDate from "./FormattedDate.astro";
import Tag from "./Tag.astro";
const { slug, letter } = Astro.props;

const { remarkPluginFrontmatter } = await letter.render();
const wordCount = remarkPluginFrontmatter.wordCount;
---

<a
  class="flex flex-col max-w-xl hover:bg-beige-light p-2 rounded-md rainbow-button"
  href={`/letters/${slug}/`}
>
  <h1>
    <span class="text-xl">{letter.data.emoji}</span>
    &nbsp;
    <span class="text-lg font-bold">{letter.data.title}</span>
  </h1>
  <span class="mt-1 text-sm">
    {wordCount} words on <FormattedDate date={letter.data.pubDate} />
  </span>
  <ul class="flex gap-2 mt-2">
    {
      letter.data.tags.map((tag: String) => (
        <li>
          <Tag name={`${tag}`} />
        </li>
      ))
    }
  </ul>
</a>
