---
import FormattedDate from "./FormattedDate.astro";
import Tag from "./Tag.astro";
const { slug, emoji, title, description, pubDate, tags } = Astro.props;
---

<a
  class="flex flex-col text-neutral-700 max-w-2xl hover:bg-neutral-100 p-2 rounded-md"
  href={`/letters/${slug}/`}
>
  <h1>
    <span class="text-xl">{emoji}</span>
    &nbsp;
    <span class="text-lg font-bold">{title}</span>
  </h1>
  <h2 class="text-md text-neutral-600 mt-1">
    {description}
  </h2>
  <span class="mt-4 text-neutral-600 flex justify-between">
    <FormattedDate date={pubDate} />
    <ul class="flex gap-2">
      {
        tags.map((tag: String) => (
          <li>
            <Tag name={`#${tag}`} />
          </li>
        ))
      }
    </ul>
  </span>
</a>
