---
import FormattedDate from "./FormattedDate.astro";
import Tag from "./Tag.astro";
const { slug, post } = Astro.props;

const { remarkPluginFrontmatter } = await post.render();
const wordCount = remarkPluginFrontmatter.wordCount;
---

<a
  class="flex flex-col text-neutral-700 max-w-xl hover:bg-neutral-100 p-2 rounded-md rainbow-button"
  href={`/posts/${slug}/`}
>
  <h1>
    <span class="text-xl">{post.data.emoji}</span>
    &nbsp;
    <span class="text-lg font-bold">{post.data.title}</span>
  </h1>
  <span class="mt-1 text-sm text-neutral-600">
    {wordCount} words on <FormattedDate date={post.data.pubDate} />
  </span>
  <ul class="flex gap-2 mt-2">
    {
      post.data.tags.map((tag: String) => (
        <li>
          <Tag name={`#${tag}`} />
        </li>
      ))
    }
  </ul>
</a>
